<html>
<head>
</head>
<body>



<form action="/task" method="post">
    Concept:<input type="text" name="Concept" id="Concept" value="A">
    Satisfiable:<input type="text" name="Satisfiable" id="Satisfiable" value="true">
    Complexity:<input type="text" name="Complexity" id="Complexity" value="1">
    <input type="submit" value="Add Task">
</form>

<div class="items">
    {{ range .Tasks }}
    <li>
        <strong>{{ .Concept }}</strong> -> Satisfiable: <strong>{{ .Satisfiable }}</strong>, Complexity: <strong>{{ .Complexity }}</strong>
        <button class="favorite styled"
                type="button"
                onClick="deleteTask({{ . }})">
            Delete
        </button>

    </li>
    {{ end }}
    </div>


</body>
</html>

<script>
    function deleteTask(task) {
        fetch('/task/' + task,  {
            method: 'DELETE'
        })
    }
</script>
