<html>
<head>
</head>
<body>
<h3>{{.Die1}}</h3>
<h3>{{.Die2}}</h3>



<form action="/task" method="post">
    Concept:<input type="text" name="concept">
    Satisfiable:<input type="text" name="satisfiable">
    Complexity:<input type="text" name="complexity">
    <input type="submit" value="Add Task">
</form>


<form action="/task" method="delete">
    ID:<input type="text" name="id">
    <input type="submit" value="Delete Task">
</form>


</body>
</html>

<script>
    function rollDice() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("POST", window.location.href, true);
        xhttp.setRequestHeader("Content-type", "application/http");
        xhttp.send();
    }
</script>
